<%- include("includes/head.ejs") %>
<body>
    <form method="post" action="/posts">
        <input placeholder="uername" name="username">
          <br><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <br>
        <button>submit</button>

    </form>

</body>
</html>