<%- include("includes/head.ejs") %>
<body>

    
    <h1>This is your full post</h1>
    <div class="box">
        <div>post id : <%= post.id %></div>
         <div><h3>@<%=post.username %></h3></div>
        <div ><h5><%= post.content %></h5></div>

        </div>

</body>
</html>